#
# Azure Key Vault
#
AZURE_TENANT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_CLIENT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
AZURE_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AZURE_SUBSCRIPTION_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

#
# config/database.yml
#
MYSQL_HOST="xxxxxxxxxx"
MYSQL_PORT=3306
MYSQL_USER="xxxxxxxxxx"
MYSQL_PASS="xxxxxxxxxx"
MYSQL_DB="xxxxxxxxxx"
MYSQL_CA="/path/to/Root.crt.pem"
